<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container text-center">
        <br>
        <h2> AND THERE YOU HAVE IT!</h2> <br><br>
        <h2 class="alert alert-success"> {{ password }} </h2>

        <br>

        <button onClick="window.location.reload();" class="btn btn-success">Retry</button>
        <a href="{% url 'home' %}" class="btn btn-warning">Torna dietro, pls</a>
    </div>
</body>
</html>